--extra-index-url https://download.pytorch.org/whl/cu118
torch
torchvision
torchaudio

transformers

safe_gpu
yamlargparse
decorator
setuptools
h5py
logging

spicy
soundfile
SpeechRecognition
librosa
tensorboard
pydub

numpy
matplotlib
pandas
IPython

django
djoser
django-cors-headers